<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConStr" connectionString="DefaultEndpointsProtocol=https;AccountName=vikramastoragedb;AccountKey=+Yq1gWkCcLB7GAynlgckt7lfDDWyco1D7qnMlfCXlatiUONB9PMu+eQcIufYb2E6xz4oTPenr6aor4SLSPCSWQ=="/>
  </connectionStrings>
  <appSettings>
    <add key="container" value="vikramcontainer"/>
    <add key="queue" value="vikramqueue"/>
    
    
    
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="ida:ClientId" value="482b49d3-2c22-4895-8f46-ee46e47d36e2" />
      <add key="ida:Tenant" value="vikramwindows8outlook979.onmicrosoft.com" />
      <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
      <add key="ida:PostLogoutRedirectUri" value="http://localhost:60819/" />

  </appSettings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <!--<filter type="" />-->
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>