
@{
    ViewBag.Title = "BlobByRestAPI";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/App.js"></script>
<div style="margin-left: 20px;">
    <h4>Blob Upload and download By REST API</h4>
    <p>
        <strong>SAS URI</strong>:
        <br />
        <span class="input-control text">
            <input type="text" id="sasUrl" style="width: 50%"
                   value="@ViewBag.SASurl" />
        </span>
    </p>
    <p>
        <strong>File To Upload</strong>:
        <br />
        <span class="input-control text">
            <input type="file" id="file" name="file" style="width: 50%" />
        </span>
    </p>
    <div id="output">

        <strong>File Properties:</strong>
        <br />
        <p>
            Name: <span id="fileName"></span>
        </p>
        <p>
            File Size: <span id="fileSize"></span> bytes.
        </p>
        <p>
            File Type: <span id="fileType"></span>
        </p>
        <p>
            <input type="button" value="Upload File" onclick="uploadFileInBlocks()" />
        </p>
        <p>
            <strong>Progress</strong>: <span id="fileUploadProgress">0.00 %</span>
        </p>
    </div>
</div>
<div>
</div>


